USE AdventureWorks2012
GO
DECLARE MYCURSOR CURSOR SCROLL STATIC FOR
SELECT TOP 25*
  FROM [AdventureWorks2012].[Purchasing].[PurchaseOrderHeader]
  ORDER BY OrderDate DESC

  OPEN MYCURSOR
  FETCH FIRST FROM MYCURSOR
  WHILE @@FETCH_STATUS = 0
  BEGIN
	FETCH NEXT FROM MYCURSOR
	END
  CLOSE MYCURSOR
  DEALLOCATE MYCURSOR

 UPDATE [Purchasing].[PurchaseOrderHeader]
 SET ShipMethodID = 1
  WHERE PurchaseOrderID = 4002